<div class="lugarLogoF"> 
    <a href="/">
        <img class="logoFooter" src="design/logooooooo.PNG" alt="Logo de Empresa">
        </a>
</div>

<div class="contactoFull">
    <div class="contacto">Contacto </div>
    <div class="iconosFooter"> 

        <i class="fa fa-phone"></i>
        <i class="fas fa-comment-alt"></i>
        <i class="fa fa-camera"></i>
    </div>
</div>