<div class="top-header">
    <div class="lugarLogo"> 
        <a href="/">
            <img class="logoHeader" src="/design/images-products/logooooooo.PNG" alt="Logo de Empresa">
        </a>
    </div>
    <h1 class="nombrePagina">El Mundo De Las Camisetas</h1>
    <div class="iconosTop">
        <div class="contarritoMercado"> 
            <a href="/product-cart">
                <i class="fa fa-shopping-cart"></i></a>
    
                <a class="user" href="/user">
                    <i class="fas fa-user-circle"></i></a>               
        </div>  
    </div>
</div>
<div class="contBarraLogo">
    <div class="contMenu">
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </div>
        <div class="barraLupa">
            <input class="barra" placeholder="Buscar camisetas">
            <div class="lupa"> 
                <a href="#"><i class="fa fa-search"></i></a>
            </div>
        </div>
</div>

<div class="topRow">
    <li><a href="/user/register">Creá tu cuenta</a></li>
    <li><a href="/user/login">Ingresá</a></li>
</div>