<div class="top-header">

    <div class="lugarLogo"> 
        <a href="/"> <img class="logoHeader" src="/design/logooooooo.PNG" alt="Logo de Empresa"> </a>
    </div>

    

    <div class="contenedorDeIconosTop">
        <div>
            <a href="/register"> <img class="iconosHeader" src="/design/login.png" alt="login"></a>  
        </div>

        <div class="contCarritoMercado"> 
            <a href="/product-cart"> <img class="iconosHeader" src="/design/carrito-de-compras.png" alt="carrito"></a>
        </div>  

    </div>

</div>

<div class="contenedor-menu-burger">
    
    <div class="contMenu">
        <div class="burger-menu"> <i class="fa fa-bars burger"></i> </div>
    </div> 

    <div class="barraLupa">

        <input class="barra" placeholder="Buscar camisetas">
        <div class="lupa"> <a href="#"><i class="fa fa-search"></i></a></div>
    </div>
     
</div>