<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")%>
</head>
<body>
    <header>
        <%- include ("./partials/header.ejs")%>
    </header>
    <main class="register">

        <div class="fondo">

        <h2 class="titulosForm">Crea tu producto</h2>
        
        <form class="formSignup" action="/" method="POST" enctype="multipart/form-data">
            <label class="titulosForm" for="info-personal"><b>Información Del Producto</b></label>

      
            <label class="titulosForm" for="category" >Liga Del equipo:</label>   
            <select name="category" id="category" class="textos" placeholder="Seleccionar Torneo">
                <!-- Agregar opccion liga despues de la validación -->
                <option value="La liga">La Liga</option>
                <option value="Premier League">Premier League</option>
                <option value="Serie A">Serie A</option>
                <option value="Primera Division Argentina">Primera Division Argentina </option>
                <option value="Primera Division Colombiana">Primera Division Colombiana</option>
                <option value="Selecciones Mundiales">Selecciones Mundiales </option>
                <option value="MLS">MLS </option>
            </select>


           
            <label class="titulosForm" for="name" >Nombre Camiseta:</label>
            <input class="textos" type="text" id="name" name="nameCamiseta" placeholder=" Nombre">
           
            <label class="titulosForm" for="name" >Caracteristicas:</label>
            <input class="textos" type="text" id="name" name="descriptonCamiseta" placeholder="Caracteristicas">

            <label class="titulosForm" for="name" >Precio:</label>
            <input class="textos" type="number" id="name" name="priceCamiseta" placeholder="Precio">

            
            <label class="titulosForm" for="imgFrente">Imagen camiseta de frente:</label>
            <input class="textos" type="file" id="imgFrente" name="imagenfrente">


            <label class="titulosForm" for="imgBack" >Imagen camiseta espalda:</label>
            <input class="textos" type="file" id="imgBack" name="imagenback">

   
                <input class="botones" type="submit" value="Guardar">

            </form>
            </div>
    
        </main>

<footer class="footer">
    <%- include ("./partials/footer.ejs")%>
</footer>

</body>
</html>