<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El mundo de las camisetas</title>
    <link rel="stylesheet" href="/css/styleshome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="lugarLogo"> 
                <a href="/">
                    <img class="logoHeader" src="design/logooooooo.PNG" alt="Logo de Empresa">
                </a>
            </div>
            <h1 class="nombrePagina">El Mundo De Las Camisetas</h1>
            <div class="iconosTop">
                <div class="contarritoMercado"> 
                    <a href="/productCart">
                        <i class="fa fa-shopping-cart"></i></a>
                        </a>
                </div>  
            </div>
        </div>

    </header>

    <main>

        <div class="contBarraLogo">
            <div class="contMenu">
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>
                <div class="barraLupa">
                    <input class="barra" placeholder="Buscar camisetas">
                    <div class="lupa"> 
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
        </div>
        

    <div class="topRow">
        <li><a href="/register">Creá tu cuenta</a></li>
        <li><a href="/login">Ingresá</a></li>
    </div>

    <div class="bodyTotal">

    <div class="lugarCategorias">
        
            <ul class="categorias">
                <h3>Categorias</h3>
                <li class="linksIzq"><a href=""> Premier League </a></li>
                <li class="linksIzq"><a href=""> La Liga  </a></li>
                <li class="linksIzq"><a href=""> Serie A </a></li>
                <li class="linksIzq"><a href=""> Primera Division Argentina </a></li>
                <li class="linksIzq"><a href=""> MLS </a></li>
                <li class="linksIzq"><a href=""> Selecciones Mundiales </a></li>
                <li class="linksIzq"><a href=""> Primera Division Colombiana </a></li>
            </ul>
    </div>    
     
        <div class="imagenesCamisetas">

        <h2 class="titulos">Camisetas La Liga</h2>
        <div class="bodyimagenes">

            <article class="producto1">
                <a href="/productCart">
                    <img src="/design/real madrid frente.jpg" alt="Camisetas">
                    </a>
            </article>

            <article class="producto2" >
                <a href="/productCart">
                    <img src="/design/barca frente.jpg" alt="Camisetas">
                    </a>
            </article>

            <article class="producto3" >
                <a href="/productCart">
                    <img src="/design/atletico frente si.jpg" alt="Camisetas">
                    </a>
            </article>

        </div>



        <h2 class="titulos">Camisetas Premier League</h2>
        <div class="bodyimagenes">

            <article class="producto1">
                <img src="/design/liverpool frente.jpg" alt="Camisetas">
            </article>

            <article class="producto2">
                <img src="/design/city frente.jpg" alt="Camisetas">
            </article>

            <article class="producto3" >
                    <img src="/design/chelsea frente.jpg" alt="Camisetas">
            </article>
        </div>



        <h2 class="titulos">Camisetas de Selecciones Del Mundo</h2>
            <div class="bodyimagenes">

                <article class="producto1">
                <a href="/productCart">
                    <img src="/design/argentina frente.jpg" alt="Camisetas">
                    </a>
            </article>

            <article class="producto2" >
                <a href="/productCart">
                    <img src="/design/colombia frente si.webp" alt="Camisetas">
                    </a>
            </article>

            <article class="producto3" >
                <a href="/productCart">
                    <img src="/design/brasil frente.jpg" alt="Camisetas">
                    </a>
            </article>
            </div>



        <h2 class="titulos">Camisetas Primera Division Colombiana</h2>
            <div class="bodyimagenes">

                 <article class="producto1">
                    <img src="/design/millonarios frente.jpg" alt="Camisetas">
                </article>

                <article class="producto2">
                    <img src="/design/junior frente.jpg" alt="Camisetas">
                 </article>

                 <article class="producto3">
                    <img src="/design/nacional frente.jpg" alt="Camisetas">
                 </article>
            </div>

            

        <h2 class="titulos">Camisetas Primera Division Argentina</h2>
            <div class="bodyimagenes">

                <article class="producto1">
                    <img src="/design/boca frente.jpg" alt="Camisetas">
                </article>

                <article class="producto2">
                    <img src="/design/river frente.jpg" alt="Camisetas">
                </article>

                <article class="producto3" >
                    <img src="/design/racing frente.jpg" alt="Camisetas">
                </article>
            </div>
        </div>
    </div>

    </main>

    <footer class="footer"> 
        <div class="lugarLogoF"> 
            <a href="/">
                <img class="logoFooter" src="design/logooooooo.PNG" alt="Logo de Empresa">
                </a>
        </div>

        <div class="contactoFull">
            <div class="contacto">Contacto </div>
            <div class="iconosFooter"> 

                <i class="fa fa-phone"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fa fa-camera"></i>
            </div>
        </div>
    </footer>

</body>
</html>