<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El mundo de las camisetas</title>
    <link rel="stylesheet" href="/css/styleshome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <header>
        <div class="top-header">
            <span> 
                <a href="/">
                    <img class="logo" src="/design/logo escogido.png" alt="Logo de Empresa">
                    </a>
            </span>
            <span class="nombrePagina">El Mundo De Las Camisetas</span>
            <span class="iconosTop">
            <i class="fas fa-user"> </i>
            <i class="fa fa-shopping-cart"> </i>
        </span>
    </div>
    </header>
    
    <div class="topRow">
    <div class="form" action="#" method="GET">
        <div class="input">Buscar Camisetas</div>
        <div class="submit"><i class="fa fa-search"></i></div>
    </div>
    <li><a href="/register">Creá tu cuenta</a></li>
    <li><a href="/login">Ingresá</a></li>
    <li><a href="">Promociones</a></li>
</div>
<div class="bodyTotal">
<div class="categoriasFull">
<div>
    <span>Categorias</span>
<ul class="categorias">
    <li class="linksIzq"><a href=""> Premier League </a></li>
    <li class="linksIzq"><a href=""> La Liga  </a></li>
    <li class="linksIzq"><a href=""> Serie A </a></li>
    <li class="linksIzq"><a href=""> Primera Division Argentina </a></li>
    <li class="linksIzq"><a href=""> MLS </a></li>
    <li class="linksIzq"><a href=""> Selecciones Mundiales </a></li>
    <li class="linksIzq"><a href=""> Categoria Primera A Colombia </a></li>
</ul>
</div>
</div>
<div class="bodyimagenes">
<span class="titulos">Camisetas del Real Madrid</span>
<span class="imagenesBody">
<img src="/design/real madrid blanco frente.jpg" alt="Camisetas">
<img src="/design/real madrid violeta frente.jpg" alt="Camisetas">
<img src="/design/real madrid azul frente.jpg" alt="Camisetas">
</span>
</div>
</div>
</div>
<br>
<br>

    <footer class="footer"> 
        <span> 
            <a href="/">
                <img class="logoFooter" src="/design/logo escogido.png" alt="Logo de Empresa">
                </a>
        </span>
<ul class="footerLinks">
    <li><a href=""> Conócenos </a></li>
    <li><a href=""> Misión </a></li>
    <li><a href=""> Preguntas Frecuentes </a></li>
</ul>
<span class="contactoFull">
<span class="contacto">Contacto </span>
<span class="iconosFooter">      
<i class="fa fa-phone"></i>
        <i class="fas fa-comment-alt"></i>
        <i class="fa fa-camera"></i>
    </span>
</span>
    </footer>
    
    
</body>
</html>