<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include ("./partials/head.ejs")%>

</head>

<body>
    <header>
        
        <%- include ("./partials/header.ejs")%>

    </header>

    <main>


    <div class="topRow">
        <li><a href="/register">Creá tu cuenta</a></li>
        <li><a href="/login">Ingresá</a></li>
    </div>

    <div class="bodyTotal">

    <div class="lugarCategorias">
        
            <ul class="categorias">
                <h3>Categorias</h3>
                <li class="linksIzq"><a href=""> Premier League </a></li>
                <li class="linksIzq"><a href=""> La Liga  </a></li>
                <li class="linksIzq"><a href=""> Serie A </a></li>
                <li class="linksIzq"><a href=""> Primera Division Argentina </a></li>
                <li class="linksIzq"><a href=""> MLS </a></li>
                <li class="linksIzq"><a href=""> Selecciones Mundiales </a></li>
                <li class="linksIzq"><a href=""> Primera Division Colombiana </a></li>
            </ul>
    </div>    
     
        <div class="imagenesCamisetas">

        <h2 class="titulos">Camisetas La Liga</h2>

        <div class="bodyimagenes">
            <article class="real" >
                <a href="/productDetail">
                    <img src="/design/real madrid frente.jpg" alt="">
                    <div class="capa">
                        <img src="/design/real madrid back.jpg" alt="">
                    </div>
                    </a>
            </article>


            <article class="barca" >
                <a href="/productDetail">
                    <img src="/design/barca frente.jpg" alt="">
                    <div class="capa">
                        <img src="/design/barca back.jpg" alt="">
                    </div>
                    </a>
            </article>

            <article class="atletico" >
                <a href="/productDetail">
                    <img src="/design/atletico frente si.jpg" alt="">
                    <div class="capa">
                        <img src="/design/atletico back.jpg" alt="">
                    </div>
                    </a>
            </article>

        </div>



        <h2 class="titulos">Camisetas Premier League</h2>
        <div class="bodyimagenes">

            <article class="liverpool" >
                <a href="/productDetail">
                    <img src="/design/liverpool frente.jpg" alt="">
                    <div class="capa">
                        <img src="/design/liverpool back.jpg" alt="">
                    </div>
                    </a>
            </article>

            <article class="city" >
                <a href="/productDetail">
                    <img src="/design/city frente.jpg" alt="">
                    <div class="capa">
                        <img src="/design/city back.jpg" alt="">
                    </div>
                    </a>
            </article>

            <article class="chelsea" >
                <a href="/productDetail">
                    <img src="/design/chelsea frente.jpg" alt="">
                    <div class="capa">
                        <img src="/design/chelsea back.jpg" alt="">
                    </div>
                    </a>
            </article>
        </div>



        <h2 class="titulos">Camisetas de Selecciones Del Mundo</h2>
            <div class="bodyimagenes">

                <article class="argentina" >
                    <a href="/productDetail">
                        <img src="/design/argentina frente.jpg" alt="">
                        <div class="capa">
                            <img src="/design/argentina back.jpg" alt="">
                        </div>
                        </a>
                </article>

                <article class="colombia" >
                    <a href="/productDetail">
                        <img src="/design/colombia frente si.webp" alt="">
                        <div class="capa">
                            <img src="/design/colombia back.webp" alt="">
                        </div>
                        </a>
                </article>

                <article class="brasil" >
                    <a href="/productDetail">
                        <img src="/design/brasil frente.jpg" alt="">
                        <div class="capa">
                            <img src="/design/brasil back.jpg" alt="">
                        </div>
                        </a>
                </article>

            </div>



        <h2 class="titulos">Camisetas Primera Division Colombiana</h2>
            <div class="bodyimagenes">

                 <article class="millonarios" >
                <a href="/productDetail">
                    <img src="/design/millonarios frente.jpg" alt="">
                    <div class="capa">
                        <img src="/design/millonarios back.jpg" alt="">
                    </div>
                    </a>
                </article>

                <article class="junior" >
                    <a href="/productDetail">
                        <img src="/design/junior frente.jpg" alt="">
                        <div class="capa">
                            <img src="/design/junior back.jpg" alt="">
                        </div>
                        </a>
                </article>

                <article class="nacional" >
                    <a href="/productDetail">
                        <img src="/design/nacional frente.jpg" alt="">
                        <div class="capa">
                            <img src="/design/nacional back.jpg" alt="">
                        </div>
                        </a>
                </article>
            </div>

            

        <h2 class="titulos">Camisetas Primera Division Argentina</h2>
            <div class="bodyimagenes">
                <article class="boca" >
                    <a href="/productDetail">
                        <img src="/design/boca frente.jpg" alt="">
                        <div class="capa">
                            <img src="/design/boca back.jpg" alt="">
                        </div>
                        </a>
                </article>

                <article class="river" >
                    <a href="/productDetail">
                        <img src="/design/river frente.jpg" alt="">
                        <div class="capa">
                            <img src="/design/river back.jpg" alt="">
                        </div>
                        </a>
                </article>

                <article class="racing" >
                    <a href="/productDetail">
                        <img src="/design/racing frente.jpg" alt="">
                        <div class="capa">
                            <img src="/design/racing back.jpg" alt="">
                        </div>
                        </a>
                </article>
                
            </div>
        </div>
    </div>

    </main>

    <footer class="footer"> 
        
        <%- include ("./partials/footer.ejs")%>

    </footer>

</body>
</html>