<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include ("./partials/head.ejs")%>

</head>

<body>
    <header>
       
        <%- include ("./partials/header.ejs")%>

    </header>
    

      <!--El contenido de la pagina seria-->
    <!--Desde acá-->
    <main class="loginPage">
  
    <div class="fondo">

    <h2 class="titulosForm">Ingresá</h2>
 
    
    <form class="formSignup" action="/" method="POST">
        <input class="textos" type="text" name="user" placeholder="Nombre de usuario">
        <input class="textos" type="password" name="pass" placeholder="Elegí tu contraseña">
        <div class="contRecordar">
            <label class="titulosForm" for="">Recordar Usuario</label>
            <input class="botonRecordar" type="checkbox" name="Recordar contraseña">
        </div>
        <button class="botones" type="submit" value="Enviar">Enviar</button>
    </form>

        <span class="forgotPass2">
        <a class="titulosForm" href="" title="Forgot Password" id="link-reset">Has olvidado tu contraseña?</a>
    </span>

        <span class="forgotPass2">
        <a class="titulosForm" href="/register" title="register" id="link-register">No tenés cuenta todavía?  Regístrate</a>
    </span>
</div>
    
    </main>
    <!--Hasta acá acá-->
    <!--Lo otro es header y footer-->


    <footer class="footer"> 

        <%- include ("./partials/footer.ejs")%>
        
    </footer>

    
</body>
</html>