<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include ("./partials/head.ejs")%>

</head>

<body>
    <header>
        
        <%- include ("./partials/header.ejs")%>

    </header>

    <div class="topRow">
        <li><a href="/register">Creá tu cuenta</a></li>
        <li><a href="/login">Ingresá</a></li>
    </div>
    
    <main>
    <!--El contenido de la pagina seria-->
    <!--Desde acá-->
    
        <div class="detalleProducto">
        <h1>Detalle Del Producto</h1>
        <br>
        <div class="imgProducto">
        <img class="prodReal" src="/design/real madrid frente.jpg" alt="Camiseta">
        <img class="prodReal" src="/design/real madrid back.jpg" alt="Camiseta">
    </div>

 

        <h2>Real Madrid Camiseta Titular Blanca 2022 2023</h2>
        <h2>$15.000</h2>

<button class="btnComprar" type="submit" value="Comprar">Añadir al Carrito</button>

</div>


    <!--Hasta acá acá-->
    <!--Lo otro es header y footer-->
    </main>

    <footer class="footer"> 
       
        <%- include ("./partials/footer.ejs")%>

    </footer>
    
</body>
</html>