<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ("./partials/head.ejs")%>

</head>

<body>
    <header>
        
        <%- include ("./partials/header.ejs")%>

    </header>

    <div class="topRow">
        <li><a href="/register">Creá tu cuenta</a></li>
        <li><a href="/login">Ingresá</a></li>
    </div>

    <main>
    <!--El contenido de la pagina seria-->
    <!--Desde acá-->


        









    <!--Hasta acá acá-->
    <!--Lo otro es header y footer-->
    </main>

    <footer class="footer"> 

        <%- include ("./partials/footer.ejs")%>
        
    </footer>
    
</body>
</html>