<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleshome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <header>
        <div class="top-header">
            <span> 
                <img class="logo" src="/design/logo escogido.png" alt="Logo de Empresa">
            </span>
            <span class="nombrePagina">El Mundo De Las Camisetas</span>
            <span class="iconosTop">
            <i class="fas fa-user"> </i>
            <i class="fa fa-shopping-cart"> </i>
        </span>
    </div>
    </header>


<div class="container text-center">
    <div style="margin-top: 100px;" class="text-center container">
        <h1 style="font-size: 40px;">Crea una nueva cuenta</h1>


        <svg style="margin-top: 30px; color:navy" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd"
                d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
        </svg>

        <div class="row container">



            <mat-card style="background-color: #F5F5F5;">
                <div class="col-md-12 text-center">
                    <mat-form-field class="w-100">
                        <mat-label>Tu nombre</mat-label>
                        <input matInput placeholder="Name full" [(ngModel)]="Primer nombre">
                    </mat-form-field>
                </div>
                <div class="col-md-12 text-center">
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input type="email" [(ngModel)]="email_first" matInput placeholder="ejemplo1@.com">
                    </mat-form-field>
                </div>

                <div class="col-md-12 text-center">
                    <mat-form-field class="w-100">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" [(ngModel)]="password" id="pass1" matInput placeholder="*******">


                    </mat-form-field>
                </div>
                <div class="col-md-12 text-center">
                    <mat-form-field class="w-100">
                        <mat-label>Confirmar contraseña</mat-label>
                        <input type="password" [(ngModel)]="confirm_password" id="pass2" matInput placeholder="*******">

                    </mat-form-field>
                </div>


                <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 40px;">
                    <button mat-raised-button (click)="onRegister()">Resgistrate</button>
                </div>
                <div class="etc-login-form" style=" margin-top:10px;color: #919191">
                    <p>¿Ya tienes una cuenta? <a href="#">Ingresa aquí</a></p>
                </div>

            </mat-card>

        </div>

    </div>

</div>
