<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El mundo de las camisetas</title>
    <link rel="stylesheet" href="/css/styleshome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="lugarLogo"> 
                <a href="/">
                    <img class="logoHeader" src="design/logooooooo.PNG" alt="Logo de Empresa">
                </a>
            </div>
            <h1 class="nombrePagina">El Mundo De Las Camisetas</h1>
            <div class="iconosTop">
                <div class="contarritoMercado"> 
                    <a href="/productCart">
                        <i class="fa fa-shopping-cart"></i></a>
                        </a>
                </div>  
            </div>
    </div>
    </header>
    <main>
    <div class="contBarraLogo">
        <div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
            <div class="barraLupa">
                <input class="barra" placeholder="Buscar camisetas">
                <div class="lupa"> 
                    <div><a href="#"><i class="fa fa-search"></i></a></div>
                </div>
            </div>
    </div>

    <main>
     <!--El contenido de la pagina seria-->
    <!--Desde acá-->




    <main class="register">
        <h2 class="registerTitle">Regístrate</h2>
        <br>
        <form class="formSignup" action="/" method="POST">
            <label for="info-personal"><b>Información Personal</b></label>
            <br>
            <input type="text" name="name" placeholder="Nombre y apellido">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="email" name="email" placeholder="E-mail">
            <input type="text" name="addres" placeholder="Domicilio">
            <br>
            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            <br>
            <input type="date" name="birth_date" id="birth_date">
        <br>
        <label for="contraseña"><b>Contraseña</b></label>
        <br>
            <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                <br>
                <br>
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
                <br>
                <br>
            </form>
            <span class="forgotPass">
                <a href="/login" title="login" id="link-login">Ya tenés una cuenta? Ingresá aquí</a>
              </span>
              <br>
              <br>
        </main>



    <!--Hasta acá acá-->
    <!--Lo otro es header y footer-->
    </main>
    
    <footer class="footer"> 
        <div class="lugarLogo"> 
            <a href="/">
                <img class="logoFooter" src="design/logooooooo.PNG" alt="Logo de Empresa">
                </a>
            </div>

        <div class="contactoFull">
            <div class="contacto">Contacto </div>
            <div class="iconosFooter"> 

                <i class="fa fa-phone"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fa fa-camera"></i>
            </div>
        </div>
    </footer>
    
</body>
</html>