body{
    margin: 0px;
    padding: 0px;    
    background-color: rgb(80, 156, 210);
   
}


.top-header{
    display: flex; 
 background-color:rgb(80, 156, 210);
 justify-content: space-between;
}

.logo{
    width: 25%;
height: 85%;
}

.nombrePagina {
    font-size: medium;
    margin-left: -300px;
}

.topRow {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.iconosTop{
    display: flex;
    justify-content: space-between;
}

.categoriasFull{
    display: flex;
}


.categorias{
    list-style: none;
    margin-left: -35px;
}

.footer {
    display: flex;
    justify-content: space-between;
}


.logoFooter{
    width: 30%;
    height: 70%;
}

.footerLinks{
    list-style: none;
    margin-left: -250px;
    margin-top: -3px;
}

.contactoFull{
    display: flex;
    flex-direction: column;
}