*{
    box-sizing: border-box;
    max-width: 100vw;
    margin: 0px;
    text-decoration: none;
    transition: .2s ease;   
    padding: 0px;
    font-family:'Segoe UI';
}

body{  
    background-color: rgb(150, 175, 194);
    position: relative;
    padding-bottom: 12vh;
    min-height: 100vh;
}

.btnComprar{
    margin-bottom: 10px;
    margin: auto;
}
.prodReal{
    max-height: 40vh;
    max-width: 40vw;
}


.titulos{
    font-size: 20px;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
}

.detalleProducto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgProducto{
    border-radius: 18px;
}


.bodyimagenes{
    display: flex;
    flex-direction: row; 
    background-color: #192436;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
}

div article img{
    display: flex;
    width: 70%;
    height: 100%;
    margin: auto;
}


.top-header{
    display: flex; 
    background-color:#192537;
    max-width: 100vw;
}


.lugarLogo{
    max-width: 35vw;
}
.lugarLogoF{
    max-width: 40vw;
}

.logoHeader{
    width: 100%;
    margin-top: 6%; 
    margin-bottom: 4%;
    flex-wrap: wrap;
    border-radius: 6px;
}

.iconosTop{
    display: flex;
    margin: auto;
}

.nombrePagina {
    margin: auto;
    font-size: 80%;
    margin-left: 2%;
    margin-right: 0%;
    color: white;
}

.topRow {
    box-shadow: none;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 3%;
    border-bottom: 2px solid #192537;

}
.topRow li a{
    color: black;
    font-weight: 600;
}

.contMenu{
    margin: auto;
}

.burger-menu{
    display: flex;
    padding-bottom: 3%;
}
.burger-menu i{
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 20px;
}

.contBarraLogo{
    padding-bottom: 2%;
    display: flex;
    background-color: #192436;
    margin: auto;
    justify-content: space-between;
}

.barraLupa{
    display: flex;
    justify-content: center;
    margin: auto;
    min-width: 30vw;
}

.barraLupa div.lupa i{
    color: black;
    background-color: #FFF;
    border: 3px solid transparent;
    border-radius: 5px;
    width: fit-content;
    height: max-content;
}

.barra{
    border: 3px solid transparent; 
    border-radius: 5px;
    text-align: center;
}


.contarritoMercado i{
    color: white;
    font-size: 100%;
}


.linksIzq{
    margin-top: 20px;
    margin-bottom: 20px;
}


.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color:#192537;
    position: static;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logoFooter{
    width: 100%;
    max-height: 9vh;
    margin-top: 10%;
    margin-bottom: 2%;
    flex-wrap: wrap;
    border-radius: 6px;
}

.footerLinks{
    list-style: none;
    margin-top: 10px;
    text-align: center;
    justify-content: center;    
}


.contactoFull{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 4%;
}

.iconosFooter{
    display: flex;
    justify-content: space-around;
    margin-left: -5px;
    margin-top: 5px;
}

.producto3{
    display: none ;
}

.lugarCategorias{
    display: flex;
    max-height: 100%;
    flex-wrap: wrap;
}


.categorias{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 4%;
    max-width: 70%;
    text-align: center;
    margin-left: 8%;
}

div div.lugarCategorias li a{
    color: black;
    font-weight: 600;
}

.bodyTotal{
    display: flex;
}

.lugarCategorias{
    display: none;
}



.real img{
    border-radius: 18px;
}
.barca img {
    border-radius: 18px;
}
.atletico img {
    border-radius: 18px;
}
.liverpool img {
    border-radius: 18px;
}
.city img {
    border-radius: 18px;
}
.chelsea img {
    border-radius: 18px;
}
.argentina img {
    border-radius: 18px;
}
.colombia img {
    border-radius: 18px;
}
.brasil img {
    border-radius: 18px;
}
.millonarios img {
    border-radius: 18px;
}
.junior img {
    border-radius: 18px;
}
.nacional img {
    border-radius: 18px;
}
.boca img {
    border-radius: 18px;
}
.river img {
    border-radius: 18px;
}
.racing img {
    border-radius: 18px;
}

.capa{
    display: none;
 }
 .atletico{
    display: none;
 }
 .chelsea{
    display: none;
 }
 .brasil{
    display: none;
 }
 .nacional{
    display: none;
 }
 .racing{
    display: none;
 }

 .loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.formSignup{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.fondo{
    display: flex;
    flex-direction: column;
    background-color: #192436;
    width: 85vw;
    margin: auto;
    border-radius: 20px;
    padding: 2%;
}


.textos{
    width: 40vw;
    margin: 8px;
}

.botones{
    max-width: 50px;
    margin: auto;
}

.titulosForm{
    color: white;
    margin: auto;
    padding-bottom: 2%;
}

.forgotPass{
    padding-top: 2%;
    margin: auto;
}

.forgotPass2{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    margin: auto;
    
}

.titulosForm2{
    color: white;
}

.register{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}


.loginPage{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}





 

@media(min-width:361px){
    .barra{
        min-width: 110%;
        margin-left: -30%;
    }
    
    .lugarLogoF{
    max-width: 50vw;
    }
    
    .nombrePagina{
        font-size: 90%;
    }
   
}



@media(min-width:550px){
    .contactoFull{
        font-size: 110%;
    }

    .lugarLogoF{
        max-width: 60vw;
    }

    .nombrePagina{
        font-size: 100%;
        margin: auto;
        margin-right: 10%;
        text-align: center;
    }


    .burger-menu i{
        font-size: 23px ;
    }

    .barra{
        min-width: 150%;
        margin-left: -50%;
    }

}


@media(min-width:754px){
    .fondo{
        margin-bottom: 4%;
    }
    
    .botones{
        transition: background 0.5s; 
    }
    
    .botones:hover{
        background-color: #192436;
        color: white;
        border: solid 2px white;
    }
    .contactoFull{
        font-size: 110%;
        margin-top: 3%;
    }
    .barra{
        min-width: 170%;
        margin-left: -70%;
    }
    .nombrePagina{
        font-size: 130%;
        margin: auto;
        margin-right: 10%;
        text-align: center;
    }

    .contarritoMercado{
        font-size: 140%;
        padding: 0%;
    }

    
}  


@media(min-width:1000px){


    .top-header{
        margin: auto;
    }
    .logoHeader{
        margin-left: 15%;
    }
    
    .contactoFull{
        font-size: 140%;
        margin-top: 2%;
    }

    .bodyimagenes article{
        position: relative;
        overflow: hidden;
    }
    .bodyimagenes article a img{
        transition: all 1000ms ease-out;
    }
    .bodyimagenes article a .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: none;
    }
    .bodyimagenes article a:hover > .capa{
        opacity: 1;
        display: block;
    }
    
    .atletico{
        display: block;
    }
    .chelsea{
        display: block;
     }
     .brasil{
        display: block;
     }
     .nacional{
        display: block;
     }
     .racing{
        display: block;
     }

    .burger-menu{
        display: none;
    }
    
    .lugarCategorias{
        display: block;
    }
    .imagenesCamisetas{
        margin-left: -3%;
        padding-right: 3%;
    }

}


@media(min-width:1300px){
    .lugarLogo{
        margin-top: -1%;
        margin-bottom: 3%;
        margin-left: 8%;
    }
    .logoHeader{
        margin-left: 15%;
        margin-top: 15%;
    }
    
    .barra{
        min-width: 170%;
        margin-left: -105%;
    }

    .imagenesCamisetas{
        margin-left: -1%;
    }
}