*{
    box-sizing: border-box;
    max-width: 100vw;
    margin: 0px;
    text-decoration: none;
    transition: .2s ease;   
    padding: 0px;
    font-family:'Segoe UI';
}

body{  
    background-color: rgb(150, 175, 194);
    position: relative;
    padding-bottom: 12vh;
    min-height: 100vh;
}


.titulos{
    font-size: 20px;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
}


.bodyimagenes{
    display: flex;
    flex-direction: row;
    background-color: #192436;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
}

div article img{
    display: flex;
    width: 70%;
    height: 100%;
    margin: auto;
}


.top-header{
    display: flex; 
    justify-content: space-between;
    background-color:#192537;
    max-width: 100vw;
}


.lugarLogo{
    max-width: 35vw;
}
.lugarLogoF{
    max-width: 40vw;
}

.logoHeader{
    width: 100%;
    margin-top: 6%; 
    margin-bottom: 4%;
    flex-wrap: wrap;
    border-radius: 6px;
}

.iconosTop{
    display: flex;
    margin: auto;
}

.nombrePagina {
    margin: auto;
    font-size: 80%;
    margin-left: 2%;
    margin-right: 0%;
    color: white;
}

.topRow {
    box-shadow: none;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 3%;
    border-bottom: 2px solid #192537;

}
.topRow li a{
    color: black;
}

.contMenu{
    margin: auto;
}

.burger-menu{
    display: flex;
    padding-bottom: 3%;
}
.burger-menu i{
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 20px;
}

.contBarraLogo{
    padding-bottom: 2%;
    display: flex;
    background-color: #192436;
    margin: auto;
    justify-content: space-between;
}

.barraLupa{
    display: flex;
    margin: auto;
    min-width: 30vh;
}

.barraLupa div.lupa i{
    color: black;
    background-color: #FFF;
    border: 3px solid transparent;
    border-radius: 5px;
    width: fit-content;
    height: max-content;
}

.barra{
    border: 3px solid transparent; 
    border-radius: 5px;
    text-align: center;
    min-width: 60%;
    margin-left: 15%;
}


.contarritoMercado i{
    color: white;
    font-size: 100%;
}


.linksIzq{
    margin-top: 20px;
    margin-bottom: 20px;
}


.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color:#192537;
    position: static;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logoFooter{
    width: 100%;
    max-height: 9vh;
    margin-top: 10%;
    margin-bottom: 2%;
    flex-wrap: wrap;
    border-radius: 6px;
}

.footerLinks{
    list-style: none;
    margin-top: 10px;
    text-align: center;
    justify-content: center;    
}


.contactoFull{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 3%;
}

.iconosFooter{
    display: flex;
    justify-content: space-around;
    margin-left: -5px;
    margin-top: 5px;
}

.producto3{
    display: none ;
}

.lugarCategorias{
    display: flex;
    max-height: 100%;
    flex-wrap: wrap;
}


.categorias{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 4%;
    max-width: 70%;
    text-align: center;
    margin-left: 8%;
}
.bodyTotal{
    display: flex;
}

.lugarCategorias{
    display: none;
}



@media(min-width:361px){
    .lugarLogo{
        max-width: 35vw
    }
    .lugarLogoF{
    max-width: 50vw;
    }
    
    .nombrePagina{
        font-size: 90%;
    }

    .contarritoMercado{
        font-size: 100%;
    }
   
    .barra{
        min-width: 90%;
        margin-left: -5%;
    }
}



@media(min-width:550px){
    .lugarLogo{
        max-width: 35vw
    }

    .lugarLogoF{
        max-width: 60vw;
    }

    .nombrePagina{
        font-size: 100%;
        margin: auto;
        margin-right: 10%;
        text-align: center;
    }

    .contarritoMercado{
        font-size: 120%;
    }

    .burger-menu i{
        font-size: 23px ;
    }

    .barra{
        min-width: 120%;
        margin-left: -30%;
    }
}


@media(min-width:754px){
    .barra{
        min-width: 170%;
        margin-left: -70%;
    }
    .nombrePagina{
        font-size: 130%;
        margin: auto;
        margin-right: 10%;
        text-align: center;
    }

    .contarritoMercado{
        font-size: 140%;
        flex-wrap: wrap;
        padding: 0%;
    }

    
}  


@media(min-width:1000px){


    .barra{
        min-width: 170%;
        margin-left: -100%;
    }
    .producto3{
        display: block;
    }

    .burger-menu{
        display: none;
    }
    
    .lugarCategorias{
        display: block;
    }
    .imagenesCamisetas{
        margin-left: -3%;
        padding-right: 3%;
    }

}


@media(min-width:1350px){
    .lugarLogo{
        margin-left: 12%;
    }
    .barra{
        min-width: 170%;
        margin-left: -150%;
    }

    .imagenesCamisetas{
        margin-left: -1%;
    }
}